td.smack_settings_td_label {
width: 190px;
}

input.smack_settings_input_text {
width: 300px;
}

div.right-side-content {
float: right;
       padding-right: 20px;
       margin-top: -70px;
width: 30%;
}

div.left-side-content {
float: left;
       padding-right: 20px; 
width: 65%;
}

form.left-side-content {
float: left;
}

table.tableborder{
border: 1px solid #EEEEEE;
}

input.wp-tiger-widget-area-text {
border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
color: #000000;
font: 10px verdana, sans-serif;
padding: 3px 5px;
width: 176px;
}

.wp-tiger-widget-area-submit {
background: none repeat scroll 0 0 #E3E3DB;
	    border-color: #FFFFFF #D8D8D0 #D8D8D0 #FFFFFF;
	    border-style: solid;
	    border-width: 2px;
color: #000000;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 10px;
       font-weight: bold;
       margin-left: 0;
       text-decoration: none;
       text-transform: uppercase;
}

.upgradetopro {
color: red;
       font-weight: bold;
       text-align: center;
}

.smack-vtiger-settings-text {
width: 300px;
}

.smack-field-td-middleit {
	text-align: center;
}

.smack_field_error {
color: red;
height: 40px;
}

.smack_widget_buttons {
background: none repeat scroll 0 0 #E3E3DB;
	    border-color: #FFFFFF #D8D8D0 #D8D8D0 #FFFFFF;
	    border-style: solid;
	    border-width: 2px;
color: #000000;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 10px;
       font-weight: bold;
       margin-left: 0;
       text-decoration: none;
       text-transform: uppercase;
}

.smack_alt
{
	background-color:#F9F9F9;
}

input.readonly-text{
	background-color: #F8F8F8;
}

.smack_highlight:hover
{
	background-color:#CCCCCC;
}

.smack-field-td-middleit > img, .smack_pointer > img {
cursor: pointer;
}

.wptiger-free-top-navigation-wrapper
{
width:65%;
      border-bottom: 2px solid #BCD5E1;
display: block;
height: 27px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding-bottom: 9px;
}

#wptiger-free-top-navigation ul {
	list-style: none outside none;
margin: -8px;
padding: 0;
}

#wptiger-free-top-navigation li {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #BCD5E1;
	border-image: none;
	border-radius: 6px 6px 0 0;
	border-style: solid;
	border-width: 2px 2px 0;
float: left;
       margin-left: 8px;
}

.wptiger-free-nav-menu-link
{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
background: none repeat scroll 0 0 #E8F1F5;
color: #103A4D;
display: block;
padding: 0.75em 1em;
	 text-align: center;
	 text-decoration: none;
}

.wptiger-free-nav-menu-link:hover
{
	background-color : #D2E3EB;
	text-decoration: none;
color: #103A4D;
}

.wptiger-free-navigation-menu-link-active {
	background-color: #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
color: #103A4D;
       font-weight: bold;
       text-decoration: none;
}

.wptiger-free-navigation-menu-link-active:hover
{
	background-color: #FFFFFF;
color: #103A4D;
}
.wptiger-free-navigation-menu
{
float: left;
}

.button-create-shortcode
{
background: none repeat scroll 0 0 #D82133;
	    box-shadow: 0 1px 4px #A9A7A7;
color: #FFFFFF;
       text-decoration: none;
       font-weight: bold;
       text-align: center;
       text-transform: uppercase;
       text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#wptiger-pluginDetails h3 {
	background-color: #F1F1F1;
	font-size: medium;
	font-style: oblique;
	font-weight: bold;
padding: 7px;
}

.messageBox{
	text-align: center;
color:#287928;
}

.wptiger-plugindetail-box {
	font-weight: normal;
	line-height: 1;
}

.wptiger-plugin-details {
height: 130px;
}

.wptiger-box-inside {
border: 1px solid #EEEEEE;
	line-height: 1.5;
	margin-top: -14px;
padding: 10px;
}

.wptiger-rateus {
width: 25%;
}

.sociallinks {
float: right;
       margin-top: -63px;
}

.poweredby {
float: right;
       margin-top: -30px;
}
